.itemDetail {
  display: flex;
  border: solid 1px black;
  margin: 1rem;
}
.itemDetail img {
  width: 250px;
}

.itemDetailContainer {
  display: flex;
  justify-content: center;
}

.addToCart {
  width: 120px;
  margin: auto;
}
