.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.imgContainer span {
  font-size: 1.5rem;
}
.mainImage {
  margin: 1rem;
}
.productsContainer {
  display: flex;
}
